.header-heading{
    text-align: center;
    margin-top: 100px;
    font-weight: bold;
    color:white;
    cursor: crosshair;
    font-family: 'Anton', sans-serif;
    font-size: 100px;
}
.button-div{
    text-align: center;
    margin-top: 300px;
}
body{
 background: url("https://i.pinimg.com/originals/28/3c/7d/283c7de64b104fd81fe2175cc9bdc8c0.jpg");
 background-repeat: no-repeat;
 background-size: cover;
}
input{
    display: inline;
}
.modal-header h1{
    margin-top: 100px;
}
.modal-header{
    text-align: center;
}
.modal-body{
    text-align: center;
}
.yes-button:hover{
    background-color: green;
}
.no-button:hover{
    background-color: red;
}
.yes-button{
    height: 40px;
    width:400px;
    border:3px solid black;
}
.no-button{
    height: 40px;
    width:400px;
    border:3px solid black;
}
.modal-content{
    height:400px;
    margin-top:100px;
}