body{
    background: url("https://i.pinimg.com/originals/28/3c/7d/283c7de64b104fd81fe2175cc9bdc8c0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.welcome-heading {
    font-size: 50px;
    color: white;
    text-align: center;
}

.chat-history::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 3px #bdbdbd;
	border-radius: 10px;
	background-color: #F5F5F5;
}

.chat-history::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.chat-history::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	box-shadow: inset 0 0 3px #bdbdbd;
	background-color: #555;
}

.message-box {
    padding-top: 5px;
    text-align: left;
    margin: 10px;
    border-radius: 10px;
    background-color: #bdbdbd
}

.message {
    font-size: 16px;
}

.logout-btn {
    margin-top: 40px;
}

.chat-box-container {
    position: relative;
    margin-bottom: 40px;
}

#chat-box {
    padding: 10px;
    margin-bottom: 40px;
    overflow-y: scroll;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    min-height: 70vh;
    max-height: 90vh;
}

.send-btn {
    margin-top: 10px;
}

.heading-container {
    margin-bottom: 20px;
}